* {
	margin: 0;
	padding: 0;
}

/*Properties of elements when page is light- DEFAULT*/
.light_header {
	border-bottom: 0.1vh solid rgb(230,230,230);
    background-color: white;
    color: black;
}
.light_opt, .light_div {
	/*-webkit-box-shadow: 4px 0 5px -2px #888;
    box-shadow: 4px 0 5px -2px #888;*/
    border-right: 0.1vh solid rgb(230,230,230);
    background-color: white;
    color: black;
}

.light_div {
	border: 0.1vh solid rgb(230, 230, 230);
	min-height: min-content;
}

.light_cont {
	background-color: #f1f1f1;
	color: black;
}

/*Properties of elements when page is Dark*/
.dark_header {
	background-color: rgb(44,47,52);
	border-bottom: 0.1vh solid rgb(80, 82, 86);
    color: rgb(230,230,230);
}
.dark_opt, .dark_div {
	background-color: rgb(44,47,52);
	border-right: 0.1vh solid rgb(80, 82, 86);
    color: rgb(230,230,230);
}

.dark_div {
	border: none;
	min-height: min-content;
}

.dark_cont {
	background-color: rgb(35,36, 41);
	color: rgb(230,230,230);
}

body {
	width: 100%;
	/*height: 99.99vh;*/
}

header {
	height: 9.9vh;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: -webkit-sticky;
	position: sticky;
}

header img {
	width: 70px;
	height: 70px;
}

header div {
	display: flex;
	flex-flow: row;
	align-items: center;
	/*justify-content: ;*/
	font-family: Roboto;
	cursor: pointer;	
}

header div p {
	transition: color 0.5s;
}

header div p:hover {
	color: #F3C400;
}
header div img {
	height: 35px;
	width: 35px;
	transform: rotate(90deg);
	margin-left: 10px;
}

header .switch {
	position: relative;
	width: 60px;
	display: inline-block;
	height: 34px;
	font-family: Roboto;
}

header .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}

header .switch .slider {
  	position: absolute;
  	cursor: pointer;
  	top: 0;
  	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

header .switch .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

header .switch input:checked + .slider {
  background-color: #F3C400;
}

/*header .switch input:checked + .slider:before {
	content: "Dark";
}*/

header .switch input:focus + .slider {
  	box-shadow: 0 0 1px #F3C400;
}

header .switch input:checked + .slider:before {
  	-webkit-transform: translateX(26px);
  	-ms-transform: translateX(26px);
  	transform: translateX(26px);
}

/* Rounded sliders */
header .switch .slider.round {
  border-radius: 34px;
}

header .switch .slider.round:before {
  border-radius: 50%;
}
#main {
	display: flex;
	flex-flow: row;
	width: 100%;
	height: 89.9vh;
}

#main #options {
	width: 17%;
	/*background-color: rgb(244, 244, 244);*/
	height: 89.9vh;
	
    display: flex;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 0;
}

#main #options .dash_head {
	height: 15vh;
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 5vh;
}

/*Profile Picture*/
#main #options .dash_head div:first-of-type {
	border-radius: 50%;
	position: relative;
	width: 55px;
	height: 55px;
	margin-left: 2%;
	border: 2px solid #72ef04;

	 /*background-size: 32px 32px;*/
}

#main #options .dash_head div:first-of-type img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

/*Welcome Message*/
#main #options .dash_head div:last-of-type {
	width: 73%;
	margin-left: 1%;
	height: 100%;
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	align-items: center;
	font-family: Roboto;
}

#main #options .dash_head div:last-of-type p {
	margin-left: 10%;
	font-size: 1.2em;

}

#main #options nav ul{
	list-style-type: none;
}

#main #options nav ul li {
	height: 5vh;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
	font-family: Roboto;
	padding: 1.5vh 0;
}

#main #options nav ul .dark_li:hover {
	background-color: rgb(52,55,60);
	border-right: 5px solid #F3C400;
}

#main #options nav ul .light_li:hover {
	background-color: rgb(245,245,245);
	border-right: 5px solid #F3C400;
}

#main #options nav ul .dark_selected_li {
	background-color: rgb(52,55,60);
	border-right: 5px solid #F3C400;
}

#main #options nav ul .light_selected_li {
	background-color: rgb(245,245,245);
	border-right: 5px solid #F3C400;
}

#main #options nav ul .dark_selected_li,.light_selected_li p {
	color: #F3C400;
}

#main #options nav ul li:hover p {
	color: #F3C400;
}


#main #options nav ul li img {
	height: 30px;
	width: 30px;
	margin-left: 5%;
}

#main #options nav ul li p {
	margin-left: 5%;
}

/*Timer*/
#main #options h1 {
	align-self: center;
	font-family: 'Open Sans';
	padding: 10px;
}

#main #options h1:first-of-type {
	font-size: 1.5em;
	margin-top: 5vh;
	color: #F3C400;
	padding-bottom: 2px;
}
#main #content {
	width: 83%;
	height: 90vh;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: flex-start;
	overflow-y: scroll;
	position: relative;
	flex: 1;
<<<<<<< HEAD
	
	
=======
>>>>>>> 2e9a16ce6e8d5095b861040c55d616a89fde8213
}

/*Button to submit*/
#main #options button {
	width: 60%;
	align-self: center;
	background-color: #F3C400;
	border: none;
	padding: 2vh;
	position: relative;
	transition: all 0.5s;
	cursor: pointer;
	margin-top: 2vh;
}

#main #options button span {
	font-weight: bold;
	position: relative;
	padding-right: 0;
	transition: all 0.5s;
}

#main #options button span:after {
	content: '\2192';
	position: absolute;
	right: 10px;
	transition: all 0.5s;
	opacity: 0;
}

#main #options button:hover span {
	padding-right: 10px;
}

#main #options button:hover span:after {
	right: -10px;
	opacity: 1;
}
/*52,55,60*/

/*For write.php*/

#content .dark_div1, .light_div1 {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: flex-start;
}

#content .dark_div1 {
	background-color: rgb(44,47,52);
}

#content .light_div1 {
	background-color: white;

}

#content .light_div1, .dark_div1 div {
	display: flex;
	flex-flow: row !important;
	justify-content: flex-start !important;
	width: 100% !important;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

#content .dark_div1 h1 {
	font-size: 1.5em;
	margin-bottom: 5vh;
	margin-left: 3px;
}

#content .light_div1, .dark_div1 div p {
	margin-left: 2.5%;
}

#content .light_div1:first-of-type, .dark_div1:first-of-type {
	margin-top: 5vh;
}
