#content div{
	width: 80%;
	height: auto;
	font-family: Roboto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2vh;
	position: relative;
}

/*#content div:last-of-type {
	margin-bottom: 0;
}*/
#content #first_div{
	width: 80%;
	height: 30vh;
	display: flex;
	text-align: center;
	flex-flow: row;
	justify-content: flex-start;
	font-family: Roboto;
	align-items: center;
	

}
#content #first_div div{
	margin-right: 10%;
	width: 26.66%;
	height: 18vh !important;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	min-height: 18vh !important;
}

#content #first_div div h2 {
	font-size: 1.25em;
	margin-top: 5%;
}

#content #first_div div p {
	margin-top: 5%;
	font-size: 0.9em;
}


#content #first_div div:first-of-type input[type='text'] {
	height: 2.25em;
	margin-top: 8%;
}
#content #first_div div:last-of-type {
	margin-right: 0;
/*	margin-bottom: 2vh;*/
}

