#content div{
	width: 80%;
	height: auto;
	font-family: Roboto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2vh;
	position: relative;
}

/*#content div:last-of-type {
	margin-bottom: 0;
}*/
#content #first_div{
	width: 80%;
	height: 40vh;
	display: flex;
	text-align: center;
	flex-flow: row;
	justify-content: flex-start;
	font-family: Roboto;
	align-items: center;
	

}
#content #first_div div{
	margin-right: 10%;
	width: 26.66%;
	height: 25vh !important;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	min-height: 18vh !important;
}

#content #first_div div h2 {
	font-size: 1.25em;
	margin-top: 5%;
}

#content #first_div div p {
	margin-top: 5%;
	font-size: 0.9em;
}


#content #first_div div:first-of-type input[type='text'] {
	height: 2.25em;
	margin-top: 8%;
}
#content #first_div div:last-of-type {
	margin-right: 0;
/*	margin-bottom: 2vh;*/
}

#content #first_div div form input[type='text']:focus {
	/*border: 2px solid yellow;*/
	outline: 2px solid #F3C400;
}

#content div:nth-of-type(2) h2{
	text-transform: uppercase;
	margin-top: 2vh;
	margin-left: 2%;
	/*align-self: center;*/
}

#content div:nth-of-type(2) .dark_table {
	margin-top: 5vh;
	width: 90%;
	margin-bottom: 2vh;
	align-self: center;
	border-spacing: 2px;
}

#content div:nth-of-type(2) .dark_table td, .dark_table th {
	padding: 10px;
	/*margin-top: 2vh;*/
	background-color: rgb(66,66,66);
	border: 3px transparent;
}

#content div:nth-of-type(2) .dark_table th {
	background-color: rgb(33,33,33);
	color: #F3C400;
}

#content div:nth-of-type(2) .light_table {
	margin-top: 5vh;
	width: 90%;
	align-self: center;
	margin-bottom: 2vh;
	border-spacing: 0;
	box-sizing: border-box;
	box-shadow: 0 0 4px rgb(120,120,120);
}

#content div:nth-of-type(2) .light_table td, .light_table th {
	padding: 10px;
	border-bottom: 1px solid lightgrey;
}

#content div:nth-of-type(2) .light_table tr:last-of-type td {
	border-bottom: 0;
}

#content div:nth-of-type(2) .light_table th {
	background-color: rgb(50,50, 50);
	color: white;
}